.dropdown-menu {
    margin: 0;
    padding: 0;
    background-color: $brand-primary-color;
    border: none;
    border-radius: 0;

    @include media-breakpoint-up(lg) {
        min-width: 175px;
        margin-top: 23px;
        padding-left: 14px;
        padding-right: 14px;
    }
}

.dropdown-item.nav-link {
    border-bottom: $mobile-nav-link-color 1px solid;
    padding: 0 0 0 30px;
    display: flex;
    align-items: center;
    white-space: normal;
    height: 67px;

    @include media-breakpoint-up(lg) {
        height: 38px;
        color: $mobile-nav-link-color;
        white-space: nowrap;
        padding-left: 0;
        margin: 0;
    }

    &:last-of-type {
        border-bottom: none;
    }

    &:hover,
    &:focus {
        color: $brand-primary-color;
    }

    &:active {
        color: $color-for-dark-bg;
        background-color: $brand-primary-color;
    }
}

.dropdown.show .dropdown-toggle {
    border-bottom: $mobile-nav-link-color 1px solid;

    @include media-breakpoint-up(lg) {
        border: none;
    }
}
