.navbar-brand {
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;

    @include media-breakpoint-up(sm) {
        margin-left: calc(calc(100vw - 540px) / 2);
    }

    @include media-breakpoint-up(md) {
        margin-left: calc(calc(100vw - 720px) / 2);
    }

    @include media-breakpoint-up(lg) {
        margin-right: 90px;
        margin-left: 0;
        padding-top: 5px;
        padding-bottom: 8px;
    }

    &__name {
        font-size: 36px;
    }

    &__bottom-text {
        margin-bottom: 3px;
        font-size: 11px;
    }
}
