.nav-wrapper {
    border-bottom-color: #062650;
    border-bottom-style: solid;
    border-bottom-width: 4px;

    .container {
        @include media-breakpoint-down(md) {
            max-width: 100%;
        }
    }

    .col {
        padding: 0;
    }
}
