.navbar-collapse {
    background-color: $brand-primary-color;
    padding: 0 30px;
    margin: 0px -15px;

    @include media-breakpoint-up(lg) {
        background-color: $primary-bg-color;
        padding: 0;
        margin: 0;
    }

    .nav-item {
        border-bottom: $mobile-nav-link-color 1px solid;

        &:last-of-type {
            border-bottom: none;
        }

        @include media-breakpoint-up(lg) {
            border: none;
        }

        &.active,
        &.show,
        &:hover,
        &:active {
            @include media-breakpoint-up(lg) {
                .nav-link:not(.dropdown-item) {
                    border-bottom: 2px solid $brand-primary-color;
                }
            }
        }
    }

    .nav-link {
        color: $mobile-nav-link-color;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20px;
        padding: 18px 0;

        @include media-breakpoint-up(lg) {
            color: $brand-primary-color;
            font-size: 14px;
            border-bottom: 2px solid $primary-bg-color;
            padding-bottom: 4px;
            padding-top: 4px;
            margin: 0 9px;
        }
    }
}
