.split-container {
    &__bg-image {
        padding: 0;

        &--eye-pain {
            @include media-breakpoint-up(lg) {
                background-image: url("../images/eye-pain.png");
                background-size: cover;
                background-position: right -100px top;
            }
        }

        &--healthy-eye {
            @include media-breakpoint-up(lg) {
                background-image: url("../images/dry-eye.png");
                background-size: cover;
                background-position: left;
            }
        }

        &--eye-cleaning {
            @include media-breakpoint-up(lg) {
                background-image: url("../images/eye-cleaning.png");
                background-size: cover;
                background-position: center;
            }
        }

        &--baby-eye {
            @include media-breakpoint-up(lg) {
                background-image: url("../images/baby-eye-cleaning.png");
                background-size: cover;
                background-position: left;
            }
        }

        &--usage {
            @include media-breakpoint-up(lg) {
                background-image: url("../images/eye-cleaning2.png");
                background-size: cover;
                background-position: center;
            }
        }

        &--green-eye {
            @include media-breakpoint-up(lg) {
                background-image: url("../images/green-eye.png");
                background-size: cover;
                background-position: left;
            }
        }

        &--results {
            @include media-breakpoint-up(lg) {
                background-image: url("../images/half-eye.png");
                background-size: cover;
                background-position: right;
            }
        }

        &--ocuvane {
            @include media-breakpoint-up(lg) {
                background-image: url("../images/oldman-ocuvane.png");
                background-size: cover;
                background-position: right;
            }
        }

        &--ocuvane-baby {
            @include media-breakpoint-up(lg) {
                background-image: url("../images/baby-ocuvane.png");
                background-size: cover;
                background-position: right;
            }
        }

        &--ocuvane-plus {
            @include media-breakpoint-up(lg) {
                background-image: url("../images/girl-ocuvaneplus.png");
                background-size: cover;
                background-position: center;
            }
        }
    }

    &__text {
        padding: 0 30px;
        @include media-breakpoint-up(sm) {
            padding: 0;
        }

        @include media-breakpoint-up(lg) {
            padding: 0 30px;
        }

        &--eye-pain {
            padding-top: 22px;
            padding-bottom: 16px;

            @include media-breakpoint-up(lg) {
                padding-top: 26px;
                padding-bottom: 20px;
                padding-left: 40px;
            }
        }

        &--healthy-eye {
            padding-top: 20px;
            padding-bottom: 22px;

            @include media-breakpoint-up(lg) {
                padding-bottom: 25px;
            }
        }

        &--baby-eye {
            padding-top: 30px;
            padding-bottom: 4px;

            @include media-breakpoint-up(lg) {
                padding-bottom: 25px;
                min-height: 400px;
            }

            @include media-breakpoint-up(xl) {
                min-height: 450px;
            }

            p {
                line-height: 18px;

                @include media-breakpoint-up(lg) {
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    line-height: 28px;
                    font-size: 16px;
                }
            }
        }

        &--usage {
            padding-top: 21px;
            padding-bottom: 35px;

            @include media-breakpoint-up(lg) {
                padding-bottom: 45px;
            }

            p {
                font-size: 18px;
                line-height: 23px;
            }
        }

        &--green-eye {
            padding-top: 31px;
            padding-bottom: 5px;

            @include media-breakpoint-up(lg) {
                padding-top: 46px;
                padding-bottom: 30px;
                min-height: 400px;
            }

            p {
                @include media-breakpoint-up(lg) {
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 16px;
                }
            }
        }

        &--ocuvane {
            padding-top: 20px;
            padding-bottom: 22px;

            @include media-breakpoint-up(lg) {
                padding-top: 76px;
                padding-bottom: 73px;
            }

            ul {
                list-style: none;
                padding-left: 20px;

                li {
                    font-size: 18px;
                    line-height: 23px;
                    margin-bottom: 10px;

                    &:before {
                        content: "";
                        width: 9px;
                        height: 9px;
                        display: inline-block;
                        margin-left: -15px;
                        margin-right: 6px;
                        margin-top: 7px;
                        border-radius: 50%;
                        background-color: $product-regular-color;
                    }
                }
            }

            p {
                margin-top: 20px;
                text-transform: uppercase;
                font-size: 18px;
                line-height: 23px;
            }
        }

        &--ocuvane-baby {
            ul {
                li {
                    &:before {
                        background-color: $product-baby-color;
                    }
                }
            }
        }

        &--ocuvane-plus {
            ul {
                li {
                    &:before {
                        background-color: $product-plus-color;
                    }
                }
            }
        }
    }

    &__title {
        line-height: 39px;
        margin-bottom: 19px;

        @include media-breakpoint-up(lg) {
            margin-bottom: 10px;
            line-height: 42px;
        }
        @include media-breakpoint-up(xl) {
            line-height: 47px;
        }

        &--ocuvane {
            font-size: 30px;
            color: $product-regular-color;

            @include media-breakpoint-up(lg) {
                font-size: 34px;
            }
        }

        &--ocuvane-baby {
            font-size: 30px;
            color: $product-baby-color;

            @include media-breakpoint-up(lg) {
                font-size: 34px;
            }
        }

        &--ocuvane-plus {
            font-size: 30px;
            color: $product-plus-color;

            @include media-breakpoint-up(lg) {
                font-size: 34px;
            }
        }
    }

    &--inverted-color {
        background-color: $brand-primary-color;

        .split-container__title,
        .split-container__text,
        p,
        strong {
            color: $color-for-dark-bg;
        }
    }
}
