.wide-product-container {
    padding-top: 30px;
    padding-bottom: 30px;

    &--regular {
        background-color: $product-regular-color;
    }
    &--baby {
        background-color: $product-baby-color;
    }
    &--plus {
        background-color: $product-plus-color;
    }

    &__product-description {
        p {
            font-size: 14px;
            line-height: 18px;
            color: $color-for-dark-bg;
        }

        &--plus {
            p {
                strong {
                    color: $color-for-dark-bg;
                }
            }
        }
    }

    &__product-usage {
        h2 {
            font-size: 24px;
            line-height: 31px;
            color: inherit;
            color: $color-for-dark-bg;
            margin-bottom: 4px;
        }
        p {
            margin-top: 14px;
            font-size: 14px;
            line-height: 18px;
            color: inherit;
            color: $color-for-dark-bg;
        }
    }
}