/*@font-face {
    font-family: 'HalisGR';
    src: url('../webfonts/HalisGR-RegularItalic.eot');
    src: url('../webfonts/HalisGR-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/HalisGR-RegularItalic.woff2') format('woff2'),
        url('../webfonts/HalisGR-RegularItalic.woff') format('woff'),
        url('../webfonts/HalisGR-RegularItalic.ttf') format('truetype'),
        url('../webfonts/HalisGR-RegularItalic.svg#HalisGR-RegularItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}*/