$brand-primary-color: #062650;
$product-regular-color: #85BE41;
$product-baby-color: #A88BBF;
$product-plus-color: #2781C4;

$primary-bg-color: #FFFFFF;
$secondary-bg-color: #EFEFEF;

$mobile-nav-link-color: #ffffff;
$footer-bottom-text-color: #ffffff;
$homepage-product-button-color: #ffffff;
$product-card-color: #ffffff;
$color-for-dark-bg: #ffffff;

$carousel-arrow-color: #ffffff;
$carousel-arrow-bg-color: $secondary-bg-color;
$carousel-indicator-inactive-bg-color: $secondary-bg-color;

$fixed-footer-bg-color: rgba(6, 38, 80, 0.85);

$regular-product-button-hover-bg-color: #e4f1d5;
$baby-product-button-hover-bg-color: #efe8f5;
$plus-product-button-hover-bg-color: #c5e5fd;

$breakpoint-xxl: 1600px;
